.about_us {
  width: 100%;
  position: relative;
  float: left;
  .first-header{ //первый заголовок сьехал вниз
    @include breakpoint(max-width 712px) {
      margin-top: 0px !important;
    }
  }
  h3 {
    font-family:$ralewayBold;
    line-height: 23px;
    color: #45414d;
    text-transform: uppercase;
    font-size: 16px;
    text-align: left;
  }
  p {
    font-family: $proximaRegular;
    font-size: 15px;
  }
  ul {
    width: 900px;
    box-sizing: border-box;
    margin: 80px auto 0 auto;
    &:after {
      content: "";
      display: block;
      clear: both;
      visibility: hidden;
    }
    @include breakpoint(max-width 995px) {
      width: 95%;
      box-shadow: 0 20px 30px rgba(0,0,0,.1);
      margin: 0 auto;
      padding: 20px;
    }
    @include breakpoint(max-width 350px) {
      box-shadow: none;
      padding-left: 0;
    }
    li {
      position: relative;
      list-style: none;
      width: 48%;
      float: left;
      height: 250px;
      margin: 20px 1% 0 1%;
      box-sizing: border-box;
      @include breakpoint(max-width 995px) {
        width: 48%;
        margin: 5px 5px 30px 5px;
        height: 200px;
        &:nth-of-type(odd) {
          border-right: 1px dotted #000;
          padding-right: 10px;
        }
      }
      @include breakpoint(max-width 600px) {
        width: 100%;
        border-bottom: 1px dotted #000;
        &:nth-of-type(odd) {
          border-right: none;
        }
      }
      .block{
        height: 100px;
        width: 100px;
        border: 15px solid #d59653;
        position: relative;
        @include breakpoint(max-width 995px) {
          border:none;
          position: absolute;
          height: 40px;
          width: 40px;
          left: -5px;
          padding-left: 25px;
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .text{
        position: absolute;
        display: block;
        box-sizing: border-box;
        width: 75%;
        height: 170px;
        bottom: 0;
        right: 0;
        background-color: #ffffff;
        padding: 0 10px 10px 10px;
        @include breakpoint(max-width 995px) {
          position: relative;
          top: 0;
          left: 0;
          background-color: transparent;
          width: 100%;
          h3 {
            margin-left: 50px;
            margin-top: 10px;
          }
          p {
            position: absolute;
          }
        }
        @include breakpoint(max-width 350px) {
          h3 {
            margin-left: 45px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
