.consultations {
  @include breakpoint(max-width 1000px) {
    .owl-nav{
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include justify-content(center);
      @include align-items(center);
      position: absolute;
      top: 0;
      float: left;
      width: calc(100% - 48px);
      margin-left: 26px;
      height: 70px;
      background-color: transparent;
      .owl-prev{
        display: block;
        position: relative;
        float: left;
        width: 61px;
        height: 10px;
        margin-right: 31px;
        background-image: url('../img/icon/rev-arr-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        &:after{
          display: block;
          position: absolute;
          content: '';
          width: 3px;
          height: 25px;
          background-color: #7a7a8f;
          top: -7px;
          right: -32px;
        }
      }
      .owl-prev:hover:before{
        display: block;
        position: absolute;
        content: '';
        width: 36px;
        height: 36px;
        border: 5px solid #1255a0;
        top: -17px;
        left: -17px;
        &:after{
          display: block;
          position: absolute;
          content: '';
          width: 3px;
          height: 25px;
          background-color: #7a7a8f;
          top: -7px;
          right: -32px;
        }
      }
      .owl-next{
        display: block;
        position: relative;
        float: left;
        width: 61px;
        height: 10px;
        margin-left: 31px;
        background-image: url('../img/icon/rev-arr-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        transform: rotate(180deg);
      }
      .owl-next:hover:before{
        display: block;
        position: absolute;
        content: '';
        width: 36px;
        height: 36px;
        border: 5px solid #1255a0;
        top: -17px;
        right: 35px;
      }
    }
    h2 {
      margin: 20px 10%;
    }
    button {
      height: 50px!important;
    }
    .border {
      display: none;
    }
    .consultations__wrapper__description {
      display: none;
    }
    .consultations__wrapper {
      margin: 0 auto;
      clear: both;
      height: 420px;
      width: 260px;
    }
    .consultations__wrapper__profile {
      margin: 0;
    }
  }
  display: block;
  position: relative;
  float: left;
  width: 100%;
  &__wrapper {
    display: block;
    position: relative;
    width: 1000px;
    margin: 0 auto;

    &__profile {
      display: inline-block;
      position: relative;
      margin-left: 90px;
      margin-right: 40px;
      float: left;
      width: 260px;
      span{
        color: #000000;
        font-family: $proximaRegularIt;
        font-size: 14px;
        font-weight: 400;
      }
      h4{
        color: #000000;
        font-family: $proximaRegular;
        font-size: 16px;
        font-weight: 400;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        padding: 0 3px;
        float: left;
        display: inline-block;
        box-sizing: border-box;
        margin: 12px 0 0 0;
      }
      button{
        color: #ffffff;
        font-family: $proximaRegular;
        font-size: 19px;
        font-weight: 400;
        cursor: pointer;
        border: 0;
        float: left;
        text-transform: uppercase;
        width: 100%;
        height: 31px;
        background-color: #e60505;
      }
      .hr{
        display: block;
        width: 100%;
        height: 2px;
        float: left;
        background: #c5c5c5;
        margin: 15px 0;
      }
      img{
        width: 100%;
        object-fit: cover;
      }
      .quote{
        font-family: $pantonRegular;
        font-size: 12px;
      }
    }
    &__description {
      display: inline-block;
      position: relative;
      float: left;
      ul {
        display: block;
        float: left;
        width: 250px;
        margin: 0;
        li {
          color: #15a2fc;
          font-family: $proximaRegular;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 10px;
          span {
            color: #474747;
          }
        }
      }
    }
    .border{
      width: 100%;
      height: 3px;
      background: #e8c5a1;
      float: left;
      margin-top: 60px;
    }
    .absolute {
      position: absolute;
      right: 0;
      bottom: -206px;
    }
  }

}