.find-us {
  @include breakpoint(max-width 1000px) {
    margin-top: 200px;
    .container {
      .find-us__icon,
      h2 {
        display: none;
      }
      .find-us__map {
        margin-top: 50px;
      }
    }
    .find-us__map--contacts {
      top: -150px;
      left: 50%;
      transform: translate(-50%);
      box-shadow: 0 20px 30px rgba(0,0,0,.1);
      @include breakpoint(max-width 500px) {
        width: 100%;
        box-shadow: none;
      }
      button {
        left: 50%;
        transform: translate(-50%);
        box-shadow: none;
        margin: 30px 0;
        color: #fff;
      }
      p {
        @include breakpoint(max-width 330px) {
          padding: 0 0 0 25%;
        }
      }
      a {
        font-size: 20px;
        @include breakpoint(max-width 330px) {
          padding: 0 0 0 25%;
        }
      }
      span {
        display: none;
      }
    }
  }
  display: block;
  position: relative;
  float: left;
  width: 100%;
  &__icon {
    display: block;
    position: relative;
    float: left;
    width: 64px;
    height: 60px;
    margin-top: 45px;
    margin-left: calc(50% - (64px / 2));
    overflow: hidden;
    img {
      size: 100%;
      object-fit: contain;
    }
  }
  h2 {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 27px;
    margin-bottom: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #262626;
    font-family: $ralewayBold;
    font-size: 30px;
  }
  &__map {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 496px;
    overflow: hidden;
    #find-us-map {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      border: none;
      z-index: 1;
    }
    &--contacts {
      display: block;
      position: absolute;
      top: 270px;
      left: 0;
      width: 394px;
      /*height: 360px;*/
      background-color: #ffffff;
      z-index: 2;
      h3 {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin-top: 49px;
        padding-bottom: 30px;
        @include box-sizing(border-box);
        text-align: center;
        color: #121519;
        font-family: $ralewayBold;
        font-size: 24px;
        border-bottom: 1px solid rgba(32, 63, 113, 0.15);
      }
      p{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin-top: 29px;
        margin-bottom: 36px;
        padding-left: 87px;
        padding-right: 88px;
        @include box-sizing(border-box);
        color: #121519;
        font-family: $proximaRegular;
        font-size: 16px;
        line-height: 22px;
        &:before{
          display: block;
          position: absolute;
          content: '';
          width: 18px;
          height: 24px;
          top: 6px;
          left: 55px;
          background-image: url('../img/icon/plaseholder-icon.png');
          background-repeat: no-repeat;
        }
      }
      a{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding-left: 87px;
        padding-right: 88px;
        @include box-sizing(border-box);
        color: #121519;
        font-family: $proximaRegular;
        font-size: 16px;
        line-height: 22px;
        &:before{
          display: block;
          position: absolute;
          content: '';
          width: 20px;
          height: 20px;
          top: 4px;
          left: 55px;
          background-image: url('../img/icon/telephone-icon.png');
          background-repeat: no-repeat;
        }
      }
      button{
        display: block;
        position: relative;
        float: left;
        width: 226px;
        height: 67px;
        box-shadow: 0px 0px 0px 14px #ffffff inset;
        background-color: #ef1e37;
        text-align: center;
        margin-top: 30px;
        margin-left: 41px;
        margin-bottom: 36px;
        border: none;
        cursor: pointer;
        z-index: 2;
      }
      span{
        display: block;
        position: absolute;
        content: '';
        bottom: 68px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(32, 63, 113, 0.15);
      }
    }
  }
}

