.our-headquarters{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background: url("../img/headqurters-bg.png") no-repeat left center #f9f9f9;
  background-size: contain;
  padding-bottom: 35px;
  &:after{
    content: '';
    position: absolute;
    background: url("../img/headquarters-top.png") no-repeat;
    background-size: cover;
    top: -34px;
    width: 100%;
    height: 35px;
  }
  &:before{
    content: '';
    position: absolute;
    background: url("../img/headquarters-bottom.png") no-repeat;
    background-size: cover;
    bottom: -34px;
    width: 100%;
    height: 35px;
  }
  h2{
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: $proximaBold;
    span{
      color: #d59653;
    }
  }
  &__content{
    width: 890px;
    margin: 0 auto;
   &__text{
     display: block;
     position: relative;
     float: left;
     span{
       color: #404040;
       font-family: $proximaRegular;
       font-size: 18px;
       font-weight: 400;
       line-height: 27px;
       padding-top: 30px;
       width: 445px;
       display: inline-block;
     }
     ul{
       padding-left: 18px;
       li{
         list-style-image: url("../img/icon/hammer.png");
         font-family: $proximaRegular;
         font-size: 15px;
         line-height: 20px;
       }
     }
   }
    form{
      display: block;
      position: relative;
      float: right;
      width: 312px;
      height: 394px;
      border: 1px dotted #a7a1a1;
      background-color: #28487c;
      margin-top: 39px;
      padding: 20px;
      opacity: 0.85;
      .quote{

        width: 100%;
        height: 90px;
        background-color: rgba(255, 255, 255, 0.79);
        margin: 0 auto;
        margin-bottom: 10px;
        position: relative;
        color: #28487c;
        font-family: $proximaRegular;
        font-size: 12px;
        font-weight: 400;
        padding: 10px;
        box-sizing: border-box;
        &:after{
          content: '';
          position: absolute;
          right: 20px; bottom: -20px;
          border: 10px solid transparent;
          border-top: 10px solid #fff;
          opacity: 0.8;
        }
      }
      input{
        width: 100%;
        height: 40px;
        opacity: 0.9;
        margin-bottom: 10px;
      }
      textarea{
        width: 100%;
        height: 100px;
        min-height: 100px;
        max-height: 100px;
        margin-bottom: 6px;
      }
      button{
        height: 40px;
        width: 100%;
        display: block;
        color: #fff;
        font-family: $proximaRegular;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        background: #ff0000;
        border: none;
      }
    }
  }
}