.reviews {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #f4f2f0;
  @include breakpoint(max-width 660px){
    background-color: #ffffff;
  }
  h2 {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #262626;
    font-family: $ralewayBold;
    font-size: 30px;
  }
  &__slider {
    display: block;
    position: relative;
    float: left;
    width: 797px;
    height: 290px;
    margin-left: calc(50% - (770px / 2));
    margin-bottom: 149px;
    @include breakpoint (max-width 770px) {
      width: 100%;
      height: 278px;
      margin-left: 0;
      margin-bottom: 210px;
    }
    &--item {
      display: block;
      position: relative;
      float: left;
      width: calc(100% - (24px * 2));
      margin-left: 26px;
      height: 100%;
      /* box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);*/
      background-color: #1d3750;
      @include breakpoint (max-width 770px) {
        width: 100%;
        margin-left: 0;
        background-color: #fff;
      }
      > span {
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 7px;
        left: -25px;
        /*background-color: rgba(14,35,64,0.9);*/
        background-image: url('../img/icon/quotes-icon.png');
        background-repeat: no-repeat;
        @include breakpoint (max-width 770px) {
          display: none;
        }
      }
      > p {
        display: block;
        display: -webkit-box;
        position: relative;
        float: left;
        width: 100%;
        height: calc(18px * 1.3 * 4);
        padding-left: 99px;
        padding-right: 99px;
        @include box-sizing(border-box);
        margin-top: 45px;
        margin-bottom: 35px;
        text-align: center;
        font-family: $GeorgiaItalic;
        color: #ffffff;
        font-size: 18px;
        font-style: italic;
        line-height: 1.3;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include breakpoint(max-width 770px) {
          color: #1d3750;
          font-size: 16px;
        }
      }
      > a {
        display: block;
        position: relative;
        float: right;
        margin-right: 81px;
        color: #0b80c9;
        font-family: $proximaRegular;
        font-size: 16px;
        line-height: 26px;
        text-decoration: underline;
        @include breakpoint(max-width 770px){
          width: 166px;
          float: left;
          margin-left: calc(50% - (166px/2));
          color: #0b80c9;
          font-size: 20px;
          margin-bottom: 47px;
        }
      }
    }
    &--author {
      display: block;
      position: relative;
      float: left;
      margin-left: 79px;
      @include breakpoint(max-width 770px) {
        width: 100%;
        text-align: center;
        margin-left: 0;
      }
      > p {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        font-family: $proximaRegular;
        &:first-of-type {
          color: #ffffff;
          font-size: 16px;
          line-height: 26px;
          @include breakpoint(max-width 770px) {
            color: #1d3750;
            font-size: 16px;
          }
        }
        &:last-of-type {
          color: #848484;
          font-size: 14px;
          line-height: 26px;
          @include breakpoint(max-width 770px) {
            color: #848484;
            font-size: 14px;
          }
        }
      }
    }
    .owl-nav {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include justify-content(center);
      @include align-items(center);
      position: absolute;
      bottom: -66px;
      float: left;
      width: calc(100% - 48px);
      margin-left: 26px;
      height: 70px;
      background-color: transparent;
      @include breakpoint(max-width 770px){
        bottom: -173px;
        width: 100%;
        margin-left: 0;
      }
      @include breakpoint(max-width 660px){
        bottom: -121px;
      }
      .owl-prev {
        display: block;
        position: relative;
        float: left;
        width: 61px;
        height: 10px;
        margin-right: 31px;
        background-image: url('../img/icon/rev-arr-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        &:after {
          display: block;
          position: absolute;
          content: '';
          width: 3px;
          height: 25px;
          background-color: #7a7a8f;
          top: -7px;
          right: -32px;
        }
      }
      .owl-prev:hover:before {
        display: block;
        position: absolute;
        content: '';
        width: 36px;
        height: 36px;
        border: 5px solid #1255a0;
        top: -17px;
        left: -17px;
        &:after {
          display: block;
          position: absolute;
          content: '';
          width: 3px;
          height: 25px;
          background-color: #7a7a8f;
          top: -7px;
          right: -32px;
        }
      }
      .owl-next {
        display: block;
        position: relative;
        float: left;
        width: 61px;
        height: 10px;
        margin-left: 31px;
        background-image: url('../img/icon/rev-arr-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        transform: rotate(180deg);
      }
      .owl-next:hover:before {
        display: block;
        position: absolute;
        content: '';
        width: 36px;
        height: 36px;
        border: 5px solid #1255a0;
        top: -17px;
        right: 35px;
      }
    }
    .owl-dots {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include justify-content(center);
      @include align-items(center);
      position: relative;
      width: calc(100% - 48px);
      margin-left: 26px;
      height: 60px;
      background-color: #0e2340;
      @include breakpoint(max-width 770px){
        width: 100%;
        margin-left: 0;
      }
      @include breakpoint(max-width 660px){
        display: none;
      }
      .owl-dot {
        display: block;
        position: relative;
        float: left;
        width: 45px;
        height: 8px;
        background-color: rgba(213, 150, 83, 0.8);
        margin-left: 5px;
        margin-right: 5px;
      }
      .owl-dot.active {
        background-color: #d59653;
      }
    }
  }
}