.services {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  .container {
    @include breakpoint(max-width 995px) {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
    }
    @include breakpoint(max-width 600px) {
      display: block;
    }
  }
  .chevron-for-middle-and-mobile {
    position: relative;
    float: right;
    size: 15px;
    display: none;
    @include breakpoint(max-width 995px) {
      display: block;
    }
  }
  li {
    list-style-type: none;
    @include breakpoint(max-width 995px) {
      margin: 20px;
    }
  }
  h2 {
    font-size: 26px;
    font-family:$proximaBlack;
    color: #d59653;
    text-transform: uppercase;
    text-align: left;
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 3px solid #d59653;
    @include breakpoint(max-width 995px) {
      text-align: center;
      border-bottom: none;
      margin: 0px;
      font-family: $proximaRegular;
      font-size: 24px;
      width: 100%;
    }
    @include breakpoint(max-width 793px) {
      height: 68px;
    }
    @include breakpoint(max-width 600px) {
      padding-bottom: 0;
      padding-top: 10px;
    }
  }
  h4 {
    display: block;
    font-size: 18px;
    font-family:$pantonBold;
    color: #d59653;
    margin-top: 0;
    @include breakpoint(max-width 995px) {
      display: inline-block;
      margin: 0;
      color: #fff;
      font-family: $pantonRegular;
      font-size: 16px;
      font-weight: 300;
      width: 70%;
    }
  }
  p {
    font-family: $pantonRegular;
    line-height: 16px;
    margin-bottom: 20px;
    color: #fff;
    word-spacing: 5px;
    @include breakpoint(max-width 995px) {
      display: none;
      margin: 0 25px 0 45px;
      font-size: 12px;
      padding-top: 5px;
    }
  }
  span {
    display: block;
    font-family:$proximaBlack;
    margin: 15px 0 5px 0;
    @include breakpoint(max-width 995px) {
      font-family:$proximaRegular;
    }
  }
  img {
    float: left;
    display: block;
    margin-right: 15px;
    vertical-align: middle;
    padding-bottom: 4px;
    @include breakpoint(max-width 995px) {
      height: 30px;
      width: 30px;
      object-fit: contain;
    }
  }
  .wrap {
    width: 808px;
    margin: 0 auto;
    @include breakpoint(max-width 995px) {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      height: inherit;
    }
  }
  .private {
     background-color: #1d3750;
     position: relative;
     width: 1050px;
     margin: 20px auto;
     padding-top: 5px;
    @include breakpoint(max-width 1200px){
      width: 100%;
    }
     @include breakpoint(max-width 995px) {
       display: block;
       float: left;
       width: 50%;
       margin: 0;
       height: inherit;
     }
    @include breakpoint(max-width 600px) {
      width: 100%;
      margin-bottom: 0;
    }
     .private-list {
       margin: 0 auto;
       padding: 0;
       width: 826px;
       column-count: 3;
       column-width: 238px;
       column-gap: 30px;
       @include breakpoint(max-width 995px) {
         overflow: hidden;
         column-count: 1;
         column-width: 330px;
         width: 300px;
         margin: 10px auto;
       }
       @include breakpoint(max-width 600px) {
         margin: 0;
         width: 100%;
       }
     }
   }
  .legal {
    background-color: #1d3750;
    position: relative;
    width: 1050px;
    margin: 20px auto;
    padding-top: 5px;
    @include breakpoint(max-width 1200px){
      width: 100%;
    }
    @include breakpoint(max-width 995px) {
      margin: 0 auto;
      background-color: #274766;
      height: inherit;
      display: block;
      float: left;
      width: 50%;
    }
    @include breakpoint(max-width 600px) {
      width: 100%;
    }
    .legal-list {
      margin: 0 auto;
      padding: 0;
      width: 826px;
      column-count: 3;
      column-width: 238px;
      column-gap: 30px;
      @include breakpoint(max-width 995px) {
        overflow: hidden;
        column-count: 1;
        column-width: 330px;
        width: 300px;
        margin: 10px auto;
        box-sizing: border-box;
      }
      @include breakpoint(max-width 600px) {
        margin: 0;
        width: 100%;
      }
    }
  }
}