.services {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  li {
    list-style-type: none;
  }
  h2 {
    font-size: 26px;
    font-family:$proximaBlack;
    color: #d59653;
    text-transform: uppercase;
    text-align: left;
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 3px solid #d59653;
  }
  h4 {
    display: block;
    font-size: 18px;
    font-family:$pantonBold;
    color: #d59653;
    margin-top: 0;
  }
  p {
    font-family:$pantonRegular;
    line-height: 16px;
    margin-bottom: 20px;
    color: #fff;
  }
  span {
    display: block;
    font-family:$proximaBlack;
    margin: 15px 0 5px 0;
  }
  img {
    float: left;
    display: block;
    margin-right: 15px;
    vertical-align: middle;
    padding-bottom: 4px;
  }
  .wrap {
    width: 808px;
    margin: 0 auto;
  }
  .private {
     background-color: #1d3750;
     position: relative;
     width: 1050px;
     margin: 20px auto;
     padding-top: 5px;
     .private-list {
       margin: 0 auto;
       padding: 0;
       width: 826px;
       column-count: 3;
       column-width: 238px;
       column-gap: 30px;
     }
   }
  .legal {
    background-color: #1d3750;
    position: relative;
    width: 1050px;
    margin: 20px auto;
    padding-top: 5px;
    .legal-list {
      margin: 0 auto;
      padding: 0;
      width: 826px;
      column-count: 3;
      column-width: 238px;
      column-gap: 30px;
    }
  }
}