
.support{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  h2{
    display: block;
    width: 100%;
    margin-top: 27px;
    margin-bottom: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #262626;
    font-family: $ralewayBold;
    font-size: 30px;
  }
  //display: block;
  //position: relative;
  //float: left;
  //width: 100%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  &__blocks {
    @include display-flex(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    @include align-items(center);
    margin: 20px auto;
    width: 900px;
    @include breakpoint(max-width 901px) {
      width: 100%;
    }
  }
  &__block {
    @include display-flex(flex);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    width: 30%;
    @include breakpoint(max-width 901px) {
      width: 50%;
      &:last-of-type {
        width: 100%;
        padding-left: 25%;
      }
    }
    @include breakpoint(max-width 570px) {
      width: 100%;
      margin: 10px;
      &:last-of-type {
        width: 100%;
        padding-left: 0;
      }
    }
  }
  p {
    margin: 10px 0 0 10px;
    font-family:$proximaLight;
  }
  //&__title{
  //  text-align: center;
  //  padding-top: 10px;
  //}
  //&__blocks{
  //  height: 100px;
  //  max-width: 900px;
  //  margin: 0 auto;
  //  padding: 20px 0;
  //  @include breakpoint(max-width 770px) {
  //    width: 100%;
  //  }
  //}
  //&__block {
  //  display: inline-block;
  //  width: 31.3%;
  //  height: 80px;
  //  float: left;
  //  padding: 0 1%;
  //  &:nth-of-type(3) {
  //    @include breakpoint(max-width 770px){
  //      position: relative;
  //      left: 25%;
  //    }
  //    @include breakpoint(max-width 500px){
  //      left: 0;
  //    }
  //}
  //  @include breakpoint(max-width 770px) {
  //    width: 50%;
  //    padding: 20px 0;
  //  }
  //  @include breakpoint(max-width 500px) {
  //    width: 100%;
  //    padding: 10px 0;
  //  }
  //  img{
  //    width: 80px;
  //    height: 75px;
  //    float: left;
  //  }
  //  p{
  //    font-family:$proximaLight;
  //    padding: 1%;
  //    margin: 0;
  //    float: left;
  //    width: 60%;
  //  }
  //}
}